.usertext {
  color: #004444; }

body {
  background-color: #e1e5ea;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }
  body a {
    color: #00B7FF; }
  body p {
    color: cadetblue; }

